* {
    padding: 0;
    margin: 0;
}
body, html, section {
    height: 100%;
}

.demo {
    border-top: 5px solid #666;
}

.square {
    background-color: red;
    width: 100px;
    height: 100px;
    margin: 0 auto;
}